/* Import de fontes */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* Exemplo de uso das fontes:
    font-family: 'Exo 2', sans-serif;
    font-family: 'Poppins', sans-serif;
*/

/* Reset de configurações */
* {
    box-sizing: border-box;
    padding: 0; margin: 0;
}

/* Variáveis */
:root {
    --barn-red: #691e06ff;
    --sienna: #8f250cff;
    --midnight-green: #1e555cff;
    --earth-yellow: #dbad6aff;
    --columbia-blue: #cce6f4ff;
    --bege: #E9CEA6;
    --fonte-titulo: 'Exo 2', sans-serif;
    --fonte-texto: 'Poppins', sans-serif;
}

/* Main */
main {
    background: radial-gradient(var(--bege), var(--earth-yellow));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.content img {
    width: 30%;
}

.content .text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-top: 5vh;
    gap: 15vh;
    width: 50%;
}

.text h1 {
    font-family: var(--fonte-titulo);
    font-size: 64px;
}

.text p {
    font-family: var(--fonte-texto);
    font-size: 22px;
}
