/* Import de fontes */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* Reset de configurações */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Variáveis */
:root {
  --barn-red: #691e06ff;
  --sienna: #8f250cff;
  --midnight-green: #1e555cff;
  --earth-yellow: #dbad6aff;
  --columbia-blue: #cce6f4ff;
  --bege: #e9cea6;
  --fonte-titulo: "Exo 2", sans-serif;
  --fonte-texto: "Poppins", sans-serif;
}

nav {
    display: flex;
    gap: 4vw;
}

nav > * {
    font-size: 18px;
    font-family: var(--fonte-texto);
    text-decoration: none;
    color: var(--barn-red);
    padding: 5px 10px;
    border-radius: 15px;
}

nav > *:hover {
    background-color: var(--barn-red);
    color: var(--bege);
}